body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.rota-container {
    width: 80%;
    max-width: 800px;
    background: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.week-header h1 {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 20px;
}

.button-container {
    width: 100%;
    margin: 10px 0;
    text-align: center;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    text-align: center;
}

button:hover {
    background-color: #0056b3;
}

/* Grey out the button when disabled */
button:disabled {
    background-color: #d6d6d6;
    color: #8c8c8c;
    cursor: not-allowed;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

thead th {
    background-color: #f4f4f9;
    padding: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #f1f1f1;
}
